[www]
user = www-data
group = www-data
clear_env = no
access.log = /proc/self/fd/1
listen = /var/run/php-fpm.sock
listen.owner = www-data
listen.group = nginx
listen.mode =
pm.status_path = /fpm-status
ping.path = /fpm-ping
ping.response = pong
pm = {{ env('PHPFPM_PM') }}
pm.max_children = {{ env('PHPFPM_PM_MAX_CHILDREN') }}
pm.start_servers = {{ env('PHPFPM_PM_START_SERVERS') }}
pm.min_spare_servers = {{ env('PHPFPM_PM_MIN_SPARE_SERVERS') }}
pm.max_spare_servers = {{ env('PHPFPM_PM_MAX_SPARE_SERVERS') }}
pm.process_idle_timeout = {{ env('PHPFPM_PM_PROCESS_IDLE_TIMEOUT') }}
pm.max_requests = {{ env('PHPFPM_PM_MAX_REQUEST') }}
catch_workers_output=yes
decorate_workers_output = no
php_admin_value[upload_max_filesize] = {{ env('PHP_UPLOAD_MAX_FILESIZE') }}
php_admin_value[opcache.memory_consumption] = {{ env('PHP_OPCACHE_MEM_CONSUMPTION') }}
php_admin_value[memory_limit] = {{ env('PHP_MEMORY_LIMIT') }}
php_admin_value[error_log] = /proc/self/fd/2
php_admin_value[error_reporting] = E_ERROR & ~E_CORE_ERROR & ~E_CORE_WARNING
php_admin_value[max_execution_time] = {{ env('PHP_MAX_EXECUTION_TIME') }}
php_admin_value[post_max_size] = {{ env('PHP_POST_MAX_SIZE') }}
php_admin_value[max_input_vars] = {{ env('PHP_MAX_INPUT_VARS') }}
php_admin_flag[session.cookie_httponly] = On
php_admin_flag[display_errors] = Off
php_admin_flag[log_errors] = On
php_admin_flag[html_errors] = On
php_admin_flag[session.auto_start] = Off
php_admin_flag[session.use_trans_sid] = Off
php_admin_flag[file_uploads] = On
php_admin_flag[register_globals] = Off
php_admin_flag[magic_quotes_sybase] = Off
php_admin_flag[display_startup_errors] = Off