zend_extension=xdebug
xdebug.log=/proc/self/fd/2
xdebug.start_with_request=yes
xdebug.mode=debug
xdebug.discover_client_host=0
xdebug.client_port={{ env('PHPFPM_XDEBUG_CLIENT_PORT') }}
xdebug.log_level=5
xdebug.client_host={{ env('PHPFPM_XDEBUG_CLIENT_HOST') }}
xdebug.remote_enable = 1
xdebug.remote_handler = dbgp
xdebug.remote_mode = req
xdebug.remote_autostart = 1
xdebug.auto_trace = off
xdebug.collect_assignments = on
xdebug.collect_return = on
xdebug.collect_vars = on
xdebug.dump_undefined = on
xdebug.idekey = {{ env('PHPFPM_XDEBUG_IDE_KEY') }}
