name: GitHub Actions Build
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        glpiversion: [10.0.20]
        imagevariant: [nginx-82,nginx-84]
        phpxdebug: [yes,no]
    steps:
      -
        name: Install Act dependencies
        if: ${{ env.ACT }}
        run: |
          apt update && apt install sudo -y
      -
        name: Install dependencies
        run: |
          sudo apt update && sudo apt install shellcheck rng-tools coreutils pass -y
      -
        name: Git checkout 
        uses: actions/checkout@v1
      -
        name: Set environment variables GLPI ${{ matrix.glpiversion }}  ${{ matrix.imagevariant }} ${{ matrix.phpxdebug }}
        run: |
            echo "CI_BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV
            echo "CI_COMMIT=${GITHUB_SHA}" >> $GITHUB_ENV
            echo "DOCKER_REPO=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV
            echo "GLPI_VERSION=${{ matrix.glpiversion }}" >> $GITHUB_ENV
            echo "IMAGE_VARIANT=${{ matrix.imagevariant }}" >> $GITHUB_ENV
            echo "PHP_XDEBUG=${{ matrix.phpxdebug }}" >> $GITHUB_ENV
        shell: bash
      -
        name: Build Docker GLPI ${{ matrix.glpiversion }} ${{ matrix.imagevariant }} ${{ matrix.phpxdebug }}
        run: chmod +x ./build.sh && ./build.sh
        shell: bash
      -
        name: Test Docker Containers GLPI ${{ matrix.glpiversion }} ${{ matrix.imagevariant }} ${{ matrix.phpxdebug }}
        run: chmod +x ./tests.sh && ./tests.sh && touch _test_ok
        shell: bash
      -
        name: Push to Docker Hub  GLPI ${{ matrix.glpiversion }} ${{ matrix.imagevariant }} ${{ matrix.phpxdebug }}
        run: '[ -n ${{ secrets.DOCKERHUB_REGISTRY_PASSWORD }} -a -f _test_ok ] && ./publish.sh'
        env:
          DOCKERHUB_REGISTRY_PASSWORD: ${{ secrets.DOCKERHUB_REGISTRY_PASSWORD }}
          DOCKERHUB_REGISTRY_USERNAME: ${{ secrets.DOCKERHUB_REGISTRY_USERNAME }}
        shell: 'script --return --quiet --command "bash {0}"'
        